/* INPUT */
.input__label {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
}

.input__field,
.form__select {
    color: black;
    height: 35px;
    font-size: 16px;
    padding: 0px 5px;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.form__select {
    height: 37px;
}


/* classes appended with js */
.input__field--placeholder {
    color: var(--grey);
}
.input__field--hover {
    background-color: var(--light-blue);
}
.input__field--focus > input {
    outline: 2px solid var(--blue);
    border: 1px solid transparent;
}
.input__field--focus > label {
    color: var(--blue);
}

/* SELECT */
.form__select {
    
}

.form__select option {
    color: red;
    background-color: blue;
}